/* ----------  general -------------- */

* {
    box-sizing: border-box;
}

.lightBoxContainer {
    overflow-x: hidden;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


/*---------------- body------------- */

.body {
    font-family: 'segoe ui light';
}


/* will delete but this to avoid mistake */

.section-space {
    margin-bottom: 20%;
}


/* ------------home ------------ */

.total-img {
    cursor: pointer;
}
.trend{
    margin-top: 70px;
    margin-bottom: 50px;
}
.trends .nav-item{
    padding:2px 16px;
}
.trend-font{
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}
.trend-color{
    color: #777;
}
.trends a{
    color: #777;
}
.trends li:hover a{
    color: #aaa;
}
.nav-active{
    background-color: #aaa;
    color: #fff;
}
.nav-active a , .nav-active:hover a {
    color: #fff !important; 
}
